<form method="POST" action="/alumnos/crear">
    <input type="text" name="nombre1" placeholder="Primer Nombre">
    <input type="text" name="nombre2" placeholder="Segundo Nombre">
    <input type="text" name="apellido1" placeholder="Primer Apellido">
    <input type="text" name="apellido2" placeholder="Segundo Apellido">
    <input type="date" name="fecha_nacimiento" placeholder="Fecha de Nacimiento">
    <button type="submit">Registrar Alumno</button>
</form>