<!DOCTYPE html>
<html>
<head>
    <title>Crear Alumno</title>
</head>
<body>
    <h1>Crear Alumno</h1>
    <form action="{{ path('crear_alumno') }}" method="post">
        <label>Nombres:</label>
        <input type="text" name="nombres"><br><br>
        <label>Apellidos:</label>
        <input type="text" name="apellidos"><br><br>
        <label>Fecha Nacimiento:</label>
        <input type="date" name="fecha_nacimiento"><br><br>
        <label>Fotografía:</label>
        <input type="file" name="fotografía"><br><br>
        <label>Carrera:</label>
        <select name="carrera_id">
            {% for carrera in carreras %}
            <option value="{{ (link unavailable) }}">{{ carrera.nombre }}</option>
            {% endfor %}
        </select><br><br>
        <button>Crear</button>
    </form>
</body>
</html>