<!DOCTYPE html>
<html>
<head>
    <title>Crear Curso</title>
</head>
<body>
    <h1>Crear Curso</h1>
    <form action="{{ path('crear_curso') }}" method="post">
        <label>Nombre:</label>
        <input type="text" name="nombre"><br><br>
        <button>Crear</button>
    </form>
</body>
</html>